<!-- Project -->
<div *ngIf="isPrj_create || isPrj_update">
    <h1 mat-dialog-title *ngIf="isPrj_create">Create Project</h1>
    <h1 mat-dialog-title *ngIf="isPrj_update">Update Project</h1>

    <div mat-dialog-content [formGroup]="itemForm" class="project">
        <mat-form-field class="example-full-width">
            <mat-label>Project Code</mat-label>
            <input matInput [(ngModel)]="data.data.project_id" type="text" formControlName="prj_id" required>
            <mat-hint align="end">Maximum 20 characters long.</mat-hint>
            <mat-error *ngIf="hasError('prj_id', 'required')">This field is required</mat-error>
            <mat-error *ngIf="hasError('prj_id', 'maxlength')">You have more than 20 characters</mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Tittle</mat-label>
            <input matInput [(ngModel)]="data.data.title" type="text" formControlName="title" required>
            <mat-hint align="end">Maximum 50 characters long.</mat-hint>
            <mat-error *ngIf="hasError('title', 'required')">This field is required</mat-error>
            <mat-error *ngIf="hasError('title', 'maxlength')">You have more than 50 characters</mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Description</mat-label>
            <textarea  [(ngModel)]="data.data.description" formControlName="desc"
                matInput placeholder=" " required></textarea>
            <mat-hint align="end">Maximum 200 characters long.</mat-hint>
            <mat-error *ngIf="hasError('desc', 'required')">This field is required</mat-error>
            <mat-error *ngIf="hasError('desc', 'maxlength')">You have more than 200 characters</mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Status</mat-label>
            <mat-select [(ngModel)]="data.data.status" formControlName="status" required> 
                <mat-option value="Open">Open</mat-option>
                <mat-option value="Close">Close</mat-option>
                <mat-option value="Pending">Pending</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="example-full-width" *ngIf="!isPrj_create">
            <mat-label>Share To</mat-label>
            <textarea  [(ngModel)]="data.data.share" formControlName="share"
            matInput placeholder="Place ',' at the end of each email, please do not include any unnecessary space"></textarea>
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button mat-button mat-dialog-close="Cancelled">Cancel</button>
        <button mat-button *ngIf="isPrj_create" color="primary" (click)="prj_create()" cdkFocusInitial>
            {{ data.action }}
        </button>
        <button mat-button *ngIf="isPrj_update" color="primary" (click)="prj_update()" cdkFocusInitial>
            {{ data.action }}
        </button>
    </div>
</div>

<div *ngIf="isPrj_delete">
    <h1 mat-dialog-title>Delete Project</h1>
    <div mat-dialog-content>
        <p>Are you sure to delete project # {{data.data.project_id}} ?</p>
        <p>This action is not reversible.</p>
    </div>
    <div mat-dialog-actions>
        <button mat-button mat-dialog-close="Cancelled">Cancel</button>
        <button mat-button color="primary" (click)="prj_delete()" mat-dialog-close="Project Deleted" cdkFocusInitial>
            {{ data.action }}
        </button>
    </div>
</div>

<!-- Backlogs -->
<div *ngIf="(isPB || isSB )&& !isPB_delete && !isSB_delete">
    <h1 mat-dialog-title *ngIf="isPB">Product Item: # {{ data.data.pb_id }}</h1>
    <h1 mat-dialog-title *ngIf="isSB">Sprint Item: # {{ data.data.sb_item_id }}</h1>

    <div mat-dialog-content [formGroup]="itemForm" class="project">
        <mat-form-field *ngIf="isPB" class="example-full-width">
            <mat-label>Product Backlog ID</mat-label>
            <input matInput [(ngModel)]="data.data.pb_id" type="text" formControlName="pb_id" required maxlength="10">
            <mat-hint align="end" *ngIf="pb_id_exists">Product Backlog ID Exists; </mat-hint>
            <mat-hint align="end">Maximum 10 characters long.</mat-hint>
            <mat-error *ngIf="hasError('pb_id', 'required')">This field is required</mat-error>
        </mat-form-field>
        
        <mat-form-field *ngIf="isSB" class="example-full-width">
            <mat-label>Product Backlog ID</mat-label>
            <mat-select [(ngModel)]="data.data.pbid" formControlName="pb_id" required>
                <mat-option *ngFor="let pb of pb_list" 
                            [value]="pb.pbid" >{{ pb.pb_id }} - {{ pb.desc }}</mat-option>
            </mat-select>
            <mat-error *ngIf="hasError('pb_id', 'required')">This field is required</mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="isSB" class="example-full-width">
            <mat-label>Sprint Backlog ID</mat-label >
            <input matInput [(ngModel)]="data.data.sb_id" type="text" formControlName="sb_id" required required maxlength="10">
            <mat-hint align="end">Maximum 10 characters long.</mat-hint>
            <mat-error *ngIf="hasError('sb_id', 'required')">This field is required</mat-error>
            <mat-error *ngIf="hasError('sb_id', 'maxlength')">You have more than 10 characters</mat-error>
        </mat-form-field>
        
        <mat-form-field *ngIf="isSB" class="example-full-width">
            <mat-label>Sprint Item ID</mat-label>
            <input matInput [(ngModel)]="data.data.sb_item_id" type="text" formControlName="sb_item_id" required maxlength="10">
            <mat-hint align="end" *ngIf="sb_id_exists">Item ID Exists; </mat-hint>
            <mat-hint align="end">Maximum 10 characters long.</mat-hint>
            <mat-error *ngIf="hasError('sb_item_id', 'required')">This field is required</mat-error>
            <mat-error *ngIf="hasError('sb_item_id', 'maxlength')">You have more than 10 characters</mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Description</mat-label>
            <!-- <input matInput [(ngModel)]="data.data.desc" type="text" formControlName="desc" required> -->
            <textarea  [(ngModel)]="data.data.desc" formControlName="desc" matInput required maxlength="200"></textarea>
            <mat-hint align="end">Maximum 200 characters long.</mat-hint>
            <mat-error *ngIf="hasError('desc', 'required')">This field is required</mat-error>
            <mat-error *ngIf="hasError('desc', 'maxlength')">You have more than 200 characters</mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Priority</mat-label>
            <mat-select [(ngModel)]="data.data.priority" formControlName="priority" required>
                <mat-option value="High">High</mat-option>
                <mat-option value="Medium">Medium</mat-option>
                <mat-option value="Low">Low</mat-option>
            </mat-select>
            <mat-error *ngIf="hasError('priority', 'required')">This field is required</mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Status</mat-label>
            <mat-select [(ngModel)]="data.data.status" formControlName="status" required>
                <mat-option value="Open">Open</mat-option>
                <mat-option value="Close">Close</mat-option>
                <mat-option value="Pending">Pending</mat-option>
            </mat-select>
            <mat-error *ngIf="hasError('status', 'required')">This field is required</mat-error>
        </mat-form-field>
    </div>
    <!-- <small> *This action is not reversible.</small> -->
    <br />
    <div mat-dialog-actions>
        <button mat-button mat-dialog-close="Cancelled">Cancel</button>
        <button mat-button *ngIf="isPB_create" color="primary" (click)="pb_create()" cdkFocusInitial>{{ data.action }}</button>
        <button mat-button *ngIf="isSB_create" color="primary" (click)="sb_create()" cdkFocusInitial>{{ data.action }}</button>
        <button mat-button *ngIf="isPB_update" color="primary" (click)="pb_update()" cdkFocusInitial>{{ data.action }}</button>
        <button mat-button *ngIf="isSB_update" color="primary" (click)="sb_update()" cdkFocusInitial>{{ data.action }}</button>
        <button mat-button *ngIf="isSB_add" color="primary" (click)="sb_add()" cdkFocusInitial>{{ data.action }}</button>
    </div>
</div>

<div *ngIf="isPB_delete || isSB_delete">
    <h1 mat-dialog-title>{{data.action}}</h1>
    <div mat-dialog-content *ngIf="isPB_delete">
        <p>Are you sure to delete Product Backlog Item #{{data.data.pb_id}} from Project #{{data.data.prj_id}} ?</p>
        <strong>All related sprint backlog item will be deleted as well.</strong>
        <p>This action is not reversible.</p>
    </div>
    <div mat-dialog-content *ngIf="isSB_delete">
        <p>Are you sure to delete Sprint Backlog Item #{{data.data.sb_item_id}}  ?</p>
        <p>This action is not reversible.</p>
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="onNoClick()">Cancel</button>
        <button mat-button *ngIf="isPB_delete" color="primary" (click)="pb_delete()" [mat-dialog-close]="data.action" cdkFocusInitial>
            Delete
        </button>
        <button mat-button *ngIf="isSB_delete" color="primary" (click)="sb_delete()" [mat-dialog-close]="data.action" cdkFocusInitial>
            Delete
        </button>
    </div>
</div>

<!-- RTM -->
<div *ngIf="isRTM_delete">
    <h1 mat-dialog-title>Delete RTM Filter</h1>
    <div mat-dialog-content>
        <p>Are you sure to delete this filter ?</p>
        <p>This action is not reversible.</p>
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="onNoClick()">Cancel</button>
        <button mat-button color="primary" (click)="rtm_delete()" [mat-dialog-close]="data.action" cdkFocusInitial>
            {{ data.action }}
        </button>
    </div>
</div>