<div class="example-container">
    <mat-toolbar color="primary"> 
        <mat-toolbar-row>
            <!-- <span routerLink="/">RTM for SCRUM</span> -->
            
            <button mat-button routerLink="/" class="home">
                <mat-icon> table_chart</mat-icon><span>RTM for SCRUM</span>
            </button>
            <!-- <button mat-button routerLink="/about">About</button> -->
            <button mat-button routerLink="/guides">Guides</button>

            <span class="example-spacer"></span>
            <!-- <button mat-button >Features</button> -->
            <button mat-button routerLink="/dashboard" *ngIf="authService.isLoggedIn">Dashboard</button>
            <button mat-button [matMenuTriggerFor]="menu" *ngIf="authService.isLoggedIn">User</button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item routerLink="/user-profile" routerLinkActive="active">Profile</button>
                <button mat-menu-item (click)="logout()">Logout</button>
            </mat-menu>
        </mat-toolbar-row>
    </mat-toolbar>
</div>
<!-- <div class="example-container"
    [class.mat-elevation-z2]="!isActive"
    [class.mat-elevation-z8]="isActive">
    <mat-toolbar color="primary"> 
        <mat-toolbar-row>
        <span>SCRUM's RTM</span>
        <span class="example-spacer"></span>
        <button mat-button [matMenuTriggerFor]="menu">Guide</button>
        </mat-toolbar-row>
    </mat-toolbar>
</div>
 -->
