/* table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
} */

/* table {
    width: 70%;
} */

/* .main-div{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
} */


.btn {
    float: right;
}

table {
    width: 100%;
}

.main {
    margin: 20px 50px 50px 50px;
}

mat-icon {
    cursor: pointer; 
    margin-right: 20px;
}

.card-container-right{
    /* display: inline; */
    float: right;
}
  
.card-container-left{
    /* display: inline; */
    float: left;
    margin-top: 15px !important;
}


.icon {
    margin-right: 0px !important;
}