/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: rgb(235, 235, 235); 
    /* background-image: linear-gradient(rgb(211, 173, 233)(209, 138, 138), rgb(129, 5, 201)(209, 138, 138)); */
}

.mat-card-header-text{
    width: 100% !important;
}

.title-center {
    font-size: small;
    flex: 1 1 auto;
    text-align: center;
}

