<div class="main-div">   
    <div>
        <h1>Generate<br /> Requirement<br /> Traceability<br /> Matrix<br /> for SCRUM<br /> in seconds.</h1>
    </div> 
    <!-- <mat-card>
        
    </mat-card>   -->
    <div>
        <mat-list>
            <mat-list-item>
                <button mat-raised-button color="primary" [routerLink]="['/login']">Login</button>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <button mat-raised-button color="primary" [routerLink]="['/register']">Register</button>
            </mat-list-item>
          </mat-list>
    </div>
</div>
